LLM_API_KEY=sk-your-llm-api-key-here
LLM_ENDPOINT=https://api.siliconflow.cn/v1/chat/completions
LLM_MODEL_NAME=qwen3-8b-instruct

VLM_API_KEY=sk-your-test-api-key-here
VLM_ENDPOINT=https://api.siliconflow.cn/v1/chat/completions
VLM_MODEL_NAME=qwen3-vl-8b-instruct
# Embedding Configuration
# LOCAL_EMBEDDING_MODEL=BAAI/bge-small-zh-v1.5
EMBEDDING_API_KEY=sk-your-embedding-api-key-here
EMBEDDING_ENDPOINT=https://api.siliconflow.cn/v1/embeddings
EMBEDDING_MODEL_NAME=BAAI/bge-m3

# Rerank Configuration
RERANK_API_KEY=sk-your-rerank-api-key-here
RERANK_ENDPOINT=https://api.siliconflow.cn/v1/rerank
RERANK_MODEL_NAME=Qwen/Qwen3-Reranker-0.6B